* {
    margin: 0;
    padding: 0;
}

body {
    /* for self */
    border: 1px solid mediumorchid;

    max-width: 1200px;
    margin: 0 auto;
}

/* header start */
/* nav */
.travel {
    /* for self */
    /* border: 1px solid maroon; */

    display: flex;
    gap: 10px;
    align-items: center;
}

.serene {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.list {
    /* for self */
    /* border: 1px solid maroon; */

    display: inline-flex;
    gap: 30px;
    list-style: none;
    padding: 10px 0px;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

/* banner */
.banner {
    /* for self */
    /* border: 1px solid maroon; */

    height: 500px;
    background-image: linear-gradient(#131318, #13131800), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
}

.banner-heading {
    padding-top: 100px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.banner-info {
    text-align: center;
    padding: 0 250px;
    color: #FFF;
    font-family: Mulish;
    line-height: 26px;
    margin-bottom: 50px;
}

.form {
    height: 65px;
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-btn {
    height: 42px;
    width: 150px;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.header-btn-src {
    height: 42px;
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}

/* main start */
/* section-1 */
.section-1 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

}

.sect-one-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sect-one-pera1 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.sect-one-list {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

.sect-one-pera2 {
    margin-top: 20px;
    color: #5A5A5D;
    font-family: Mulish;
    line-height: 26px;
    margin-bottom: 35px;

}

/* section-2 */
.section-2 {
    margin-top: 80px;
}

.sect-two-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.sect-two-pera {
    width: 645px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    line-height: 26px;
    margin: 0 auto 40px;
}

.image-one {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 30px; */
}

.image-two {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 30px; */
}

.image-three {
    display: flex;
    justify-content: space-around;
}

.maldive-txt {
    position: relative;
    left: 40%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#sri {
    position: relative;
    left: 37%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Srilanka-txt {
    position: relative;
    left: 30%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#bg {
    position: relative;
    left: 35%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#bb {
    position: relative;
    left: 40%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* section-three */
.section-3 {
    margin-top: 40px;
}

.section-3-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.section-3-pera {
    width: 645px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    line-height: 26px;
    margin: 0 auto 40px;
}

/* hotel-service div */

.hotel-service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.hotel {
    padding: 15px 70px 15px 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-img {
    margin-left: 30px;
    margin-bottom: 25px;
}

.hotel-heading {
    margin-left: 30px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}

.hotel-pera {
    width: 485px;
    margin-left: 30px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.service {
    padding: 15px 70px 15px 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

/* price div */

.price {
    margin: 0 auto;
    width: 560px;
    padding: 15px 50px 15px 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

