* {
    margin: 0;
    padding: 0;
}

header,
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* header start */
/* nav */
.travel {
    display: flex;
    gap: 10px;
    align-items: center;
}

.serene {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.list {
    display: inline-flex;
    gap: 30px;
    list-style: none;
    padding: 10px 0px;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

/* banner */
.banner {
    height: 500px;
    background-image: linear-gradient(#131318, #13131800), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
}

.banner-heading {
    padding-top: 100px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.banner-info {
    text-align: center;
    padding: 0 250px;
    color: #FFF;
    font-family: Mulish;
    line-height: 26px;
    margin-bottom: 50px;
}

.form {
    height: 65px;
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-btn {
    height: 42px;
    width: 150px;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.header-btn-src {
    height: 42px;
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}

/* main start */
/* section-1 */
.section-1 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.sect-one-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sect-one-pera1 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.sect-one-list {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

.sect-one-pera2 {
    margin-top: 20px;
    color: #5A5A5D;
    font-family: Mulish;
    line-height: 26px;
    margin-bottom: 35px;

}

/* section-2 */
.section-2 {
    margin-top: 80px;
}

.sect-two-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.sect-two-pera {
    width: 645px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    line-height: 26px;
    margin: 0 auto 40px;
}

.image-one {
    display: flex;
    justify-content: space-around;
}

.image-two {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 30px; */
}

.image-three {
    display: flex;
    justify-content: space-around;
}

.maldive-txt {
    position: relative;
    left: 40%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#sri {
    position: relative;
    left: 37%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Srilanka-txt {
    position: relative;
    left: 30%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#bg {
    position: relative;
    left: 35%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#bb {
    position: relative;
    left: 40%;
    bottom: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* section-three */
.section-3 {
    margin-top: 40px;
    margin-bottom: 80px;
}

.section-3-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.section-3-pera {
    width: 645px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    line-height: 26px;
    margin: 0 auto 40px;
}

/* hotel-service div */

.hotel-service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.hotel {
    padding: 15px 70px 15px 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-img {
    margin-left: 30px;
    margin-bottom: 25px;
}

.hotel-heading {
    margin-left: 30px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}

.hotel-pera {
    width: 485px;
    margin-left: 30px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.service {
    padding: 15px 70px 15px 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

/* price div */

.price {
    margin: 0 auto;
    width: 560px;
    padding: 15px 50px 15px 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* section-4 */
.newsletter {
    display: flex;
    justify-content: space-between;
}

.newsletter-info {
    border-radius: 16px;
    border: 1px solid #FF5400;
    height: 420px;
}

.newsletter-heading {
    padding-top: 50px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
}

.newsletter-pera {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-left: 40px;
    padding-bottom: 25px;
    padding-right: 40px;
}

.newsletter-hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin-left: 40px;
    margin-bottom: 25px;
    margin-right: 40px;
}

.newsletter-input {
    height: 50px;
    width: 380px;
    margin-left: 40px;
    padding-left: 20px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.30);
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    outline: 0;
    margin-right: 40px;
    margin-bottom: 25px;
}

.newsletter-Subscribe {
    height: 50px;
    width: 398px;
    text-align: center;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    outline: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 40px;
    margin-right: 40px;
}

.save {
    background-color: #FF5400;
    width: 300px;
    height: 80px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    position: relative;
    bottom: 10rem;
    left: 22rem;
}

.travel {
    padding-top: 10px;
    padding-left: 105px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.save-up {
    text-align: center;
    /* padding-left: 90px; */
    color: #FFF;
    font-family: Mulish;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* footer */
footer {
    margin: 0 auto;
    width: 1400px;
    height: 450px;
    background: rgba(19, 19, 24, 0.05);
}

#serene-travel {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 80px;
}

.footer-pera {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 800px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.footer-img {
    /* border: 1px solid maroon; */
    width: 180px;
    margin: 0 auto;
    /* margin-bottom: 40px; */
}

.footer-hr {
    height: 1px;
    width: 800px;
    margin: 50px auto;
}

.Reserved {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 200px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    * {
        margin: 0 auto;
    }

    body {
        border: 1px solid mediumorchid;
    }

    nav div h2 {
        font-size: 1em;
    }

    nav {
        flex-direction: column;
        width: 90%;
    }

    .travel {

        /* display: flex;
        justify-content: space-between; */
        gap: 2px;
        align-items: center;
        padding-left: 0;
    }

    .list {
        display: inline-flex;
        gap: 10px;
        list-style: none;
        padding: 10px 0px;
        color: #424247;
        font-family: Mulish;
        font-size: 16px;
    }

    .banner {
        width: 90%;
    }

    .banner-heading {
        padding-top: 80px;
        color: #FFF;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 30px;
    }

    .banner-info {
        text-align: center;
        padding: 0 0px;
        color: #FFF;
        font-family: Mulish;
        line-height: 26px;
        margin-bottom: 50px;
    }

    .header-btn {
        height: 42px;
        width: 150px;
        padding-left: 10px;
        color: rgba(19, 19, 24, 0.50);
        font-family: Mulish;
        border-radius: 8px;
        background: #FFF;
        border: 0;
        display: flex;
        flex-direction: column;
        margin-left: 85px;
        margin-bottom: 10px;
    }

    .form {
        height: 65px;
        width: 800px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .header-btn-src {
        height: 42px;
        width: 150px;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-weight: 700;
        border-radius: 8px;
        background: #FF5400;
        border: 0;
        margin-left: 85px;
    }

    .section-1 {
        flex-direction: column;

    }

    .sect-one-heading {
        text-align: center;
    }

    .sect-one-pera1 {
        padding: 0 1px;
        text-align: center;
    }

    .sect-one-list {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 10px;
        padding: 0;
    }

    ul {
        margin: 0 20px 0 10px;
    }

    .section-1 button {
        margin-bottom: 40px;
        margin-left: auto;
    }

    .sect-one-img {
        padding: 0;
        margin: 0;
    }

    .sect-one-img img {
        width: 96%;
        margin-left: 7px;
    }

    .sect-two-heading {
        font-size: 30px;
    }

    .sect-two-pera {
        width: 320px;
    }

    .image-one {
        flex-direction: column;
    }

    .image-one img {
        width: 90%;
        margin-left: 20px;
    }

    .image-two {
        flex-direction: column;
    }

    .image-two img {
        width: 90%;
        margin-left: 20px;
    }

    .image-three {
        flex-direction: column;
    }

    .image-three img {
        width: 90%;
        margin-left: 20px;
    }

    .section-3-heading {
        font-size: 30px;
    }

    .section-3-pera {
        width: 380px;
        text-align: center;
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        line-height: 26px;
        margin: 0 auto 40px;
    }

    .hotel-service {
        flex-direction: column;
    }

    .hotel-pera {
        width: 300px;
    }

    .hotel {
        width: 70%;
        margin-bottom: 30px;
    }

    .service {
        width: 70%;
        margin-bottom: 30px;
    }

    .price {
        width: 75%;
        margin-bottom: 30px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter-heading {
        text-align: left;
    }

    .newsletter-pera {
        width: 70%;
    }

    .newsletter-info {
        border-radius: 16px;
        border: 1px solid #FF5400;
        height: 100%;
        width: 80%;
    }

    .newsletter-input {
        height: 50px;
        width: 70%;
    }

    .newsletter-Subscribe {
        height: 50px;
        width: 75%;
        margin-bottom: 20px;
    }

    .newsletter-img img {
        margin-top: 30px;
        width: 90%;
        margin-left: 20px;
    }

    .save {
        background-color: #FF5400;
        width: 190px;
        height: 60px;
        transform: rotate(-19.628deg);
        border-radius: 16px;
        position: relative;
        bottom: 7rem;
        left: 4rem;
    }

    .travel {
        padding-top: 5px;
        padding-left: 50px;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer {
        width: 100%;
        height: 100%;
    }

    footer #serene-travel img {
        padding-top: 30px;
        margin-left: 90px;
    }

    #serene-travel {
        display: inline;
        width: 20%;
        margin: 0 auto;
        margin-bottom: 25px;
        padding-top: 80px;
    }

    .footer-pera {
        width: 95%;
    }
    




}